header {
    background-color: #F0EFE9;
    padding: 16px;
    border: 1px solid black; 
  
    
    .container {
      gap: 70px;
      display: flex;
      justify-content: space-between;
      
      .menu-bars {
        border: none;
        background-color: transparent;
        font-size: 25px;
        display: flex;
  
        @media (min-width: 992px){
          display: none;
        }
      }
  
      .menu {
          font-size: 15;
          display: none;
          flex: 1;
  
        @media (min-width: 992px){
          display: block;
         
        }
  
        .top-menu {
        display: flex;
        

          .contact-information {
            display: flex;

            .content-box {
                padding-right: 20px;
                margin-right: 20px;

            }
          }
        }

        .social-media {
          justify-content: end;
          align-items: end;
        }


        .bottom-menu {
          display: flex;
        }

      }
  

    }
  
  }