@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


header {
    background-color: #F0EFE9;
    padding: 16px;
      
    .container {
      gap: 70px;
      display: flex;
          
      .menu-bars {
        border: none;
        background-color: transparent;
        font-size: 25px;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: end;
        
  
            @media (min-width: 992px){
            display: none;
            }
        }
  
      .menu {
          display: none;
          flex: 1;
  
            @media (min-width: 992px){
            display: block;
            }
    
            .top-menu {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #dad9d3;
                padding-bottom: 10px;
        
                  .contact-information {
                    display: flex;
                
        
                    .content-box {
                        margin-right: 30px;
                        padding-right: 20px;
                        border-right: 1px solid #dad9d3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        
                        
                        i {
                            margin-right: 5px;
                        }

                        &.last {
                            border-right: none;
                        }
                    }
                  }
                }

            .social.media {
                margin-right: 0px;
            }

            .bottom-menu {
            display: flex;
            }
        }
  
    }
  }