header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  gap: 70px;
  display: flex;
}
header .container .menu-bars {
  border: none;
  background-color: transparent;
  font-size: 25px;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
}
header .container .menu .top-menu .contact-information {
  display: flex;
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 20px;
  margin-right: 20px;
}
header .container .menu .social.media {
  margin-right: 0px;
}
header .container .menu .bottom-menu {
  display: flex;
}