@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: #f94d1c;
        margin-bottom: 10px;
    }

    h2 {
        color:#191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding: 16px;
      
    .container {
      gap: 70px;
      display: flex;
          
      .menu-bars {
        border: none;
        background-color: transparent;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 1;
        
            @media (min-width: 992px){
            display: none;
            }
        }
  
      .menu {
          display: none;
          flex: 1;
  
            @media (min-width: 992px){
            display: block;
            }
    
            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #dad9d3;
                padding-bottom: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }
        
                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        display: flex;
                    }
                        
                    .content-box {
                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #dad9d3;
                        font-weight: 300;
                        font-size: 13px;
                        
                        &:hover {
                            color: #dad9d3;
                            text-decoration: underline;
                        }

                        i {
                            margin-right: 5px;
                            font-size: 1.3rem
                        }

                        &.last {
                            border-right: none;
                        }
                    }
                }

                .social-media {

                    a {
                        padding-right: 12px;
                        color: #191919;
                        font-size: 1.2rem;

                        &:hover {
                            color: #dad9d3;
                        }
                    }
                }
            }
             
            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                
                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }
                        
                        &.active::after,
                        &:hover::after {
                            content: ' ';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
        
            }
  
        }

    }
}

.showcase {
    background-color: #F0EFE9;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }
           
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }
               
                @media (min-width: 1400px) {
                    font-size: 86px;
                }

            }
            
            p {
                font-size: 16px;
                padding-top: 35px;
                padding-bottom: 35px;
                padding-left: 10px;
                padding-right: 10px;
                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            
            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;
               
                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 0px;
                }
            }

        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px ) {
                display: block;
            }
        }

    }
}

.partners {

    .container {
        padding-top: 72px;
        justify-content: center;
        padding-bottom: 80px;

        .rows {
            justify-content: space-evenly;
            align-items: center;
        
           .brands {
            font-size: 15px;

            @media (min-width: 768px) {
                font-size: 36px;
            }
           }
        }
    }
}

.features {
   
    .container {
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        border: none;
        padding-top: 10px;
        border: 1px solid #dad9d3;

        .section-title {
            width: 460px;
            margin-left: 100px;
            justify-content: center;
            text-align: center;
            margin-left: 100px;
            margin-right: 100px;

            @media (min-width: 1200px) {
                text-align: start;
                padding-left: 0px;
                padding-right: 0px;
            }

            h2 {
                padding-bottom: 40px;
            }
    
            .btn-yellow {
                margin-top: 40px;
                padding: 15px 50px;

                @media (min-width: 1200px) {
                    padding: 15px 170px;
                }
            }

        }

        .features-grid {
            text-align: left;
            margin: 100px;
            text-align: left;
            padding-left: 100px;
            padding-bottom: 115px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:    "feature1"
                                    "feature2"
                                    "feature3"
                                    "feature4";
            column-gap: 130px;
            row-gap: 55px;

            @media (min-width: 1200px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:    "feature1 feature2"
                                        "feature3 feature4";
                
            }

            i {
                color: #191919;
                font-size: 30px;
                padding-bottom: 28px;
            }

            a {
                text-decoration: none;
                text-align: left;
            }
           
            h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #191919;
                text-decoration: none;
            }

            .feature {
                font-family: 'DM Sans', sans-serif;
                font-weight: 300;
                font-size: 16px;
                color: #191919;
                width: 227px;
            }
        
        }
    }
}

.project-case {
    .container {

        .section-title{
            text-align: center;  
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .projects {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;
            
                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px; 
                    border-bottom: 1px solid #dad9d3;  
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }
                }

                &:hover .readmore {
                    text-decoration: underline;
                }
            }
        }
        .center-content {
            margin: 45px 0px 90px;
        }
    }
}